{#-----------------------------------------------------------------#}
{# Block Article #}
{#-----------------------------------------------------------------#}

<li>
    <article class="snippet">
    <img src="/assets/images/posts/{{ mathpost.data.image }}" alt="{{ mathpost.data.imageAlt }}" class="snippet__image">
    <h3 class="snippet__title"><a href="/blog/${{ mathpost.url }}/">{{ mathpost.data.title }}</a></h3>
    <p class="snippet__meta">by <span>{{ mathpost.data.author }}</span> on <span>{{ mathpost.data.date | postDate }}</span></p>
    <p class="snippet__body">{{ mathpost.data.description }}</p>
    <a href="{{ mathpost.url }}" class="btn btn--primary">Continue Reading</a>
    </article>
</li>
