---
layout: 'templates/base.njk'
title: 'Welcome to my blog!'
---

{% import "./macros.njk" as mc_home %}


{#-----------------------------------------------------------------#}
{% macro sc_math_articles_loop() %}
{#-----------------------------------------------------------------#}
  {% for mathpost in collections.math | reverse %}
    {% include 'components/math-article-snippet.njk' %}  
  {% endfor %}
{% endmacro %}

{#-----------------------------------------------------------------#}
{% macro sc_featured_articles_loop() %}
{#-----------------------------------------------------------------#}
  {% for post in collections.featured | reverse %}
    {% include 'components/article-snippet.njk' %}  
  {% endfor %}
{% endmacro %}

{#-----------------------------------------------------------------#}
{% macro main(model) %}
{#-----------------------------------------------------------------#}
  {{ mc_home.header(model.infos) }}
  {{ mc_home.item_articles(model.items[1]) }}
  {{ mc_home.item_articles(model.items[0]) }}
{% endmacro %}



{#-----------------------------------------------------------------#}
{# Main part Model + main code                                     #}
{#-----------------------------------------------------------------#}
{% set model = {

  items : [{ 
      name:"math", 
      label:"My Math", 
      description:"Here is a sample of math articles which I feel give you a good idea of what this site is all about.", 
      showItems:sc_math_articles_loop
    },
    { 
      name:"featured", 
      label:"My Featured", 
      description:"Here is a sample of featured articles which I feel give you a good idea of what this site is all about.", 
      showItems:sc_featured_articles_loop
    }],

  infos: { 
    label: title, 
    descriptions:[
      'I use this space to document my adventures in front-end and back-end development, sharing how 
        I’ve overcome issues I’ve run into, useful resources, and more.',
      'wwwBelow are some of my favourite articles, or you can go to the blog page to 
        see my most recent posts.'], 
    featured: { link: '#featured-articles', label: 'Featured articles'},
    recent: { link: '/blog', label: 'Most recent articles'}
  }
}
%}

{#-----------------------------------------------------------------#}
{{ main(model) }}
{#-----------------------------------------------------------------#}
